.oneCityBLock {
	text-align: center;
	padding: 10px 25px;
}

.cityCard {
	background-color: white;
	border: solid 1px #79807b;
	border-radius: 5px;
	line-height: 1.3;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: left;
	padding: 10px;
	margin: 10px;
}


.cityName {
	font-size: 24px;
	font-weight: bold;
}
.buttonBlock{
	width: 100%;
	/* border: red 1px solid; */
	display:flex;
	justify-content: space-between;
}


.remove {
	color: #79807b;
	background-color: transparent;
	border: none;
	float: right;
	margin: 5px 5px 0 0;
	cursor: pointer;
} 
.update {
	color: #79807b;
	background-color: transparent;
	border: none;
	float: right;
	margin: 5px 5px 0 0;
	cursor: pointer;
} 
